      <div class="disnav a">
        <div class="disnavbottom <%= menu_on('forum')%>"><a href="/cse/forum/?q=<%= @keyword %>">討論區</a></div>
        <div class="disnavbottom <%= menu_on('product')%>"><a href="/cse/product/?q=<%= @keyword %>">商品評鑑</a></div>
        <div class="disnavbottom <%= menu_on('blog')%>"><a href="/cse/blog/?q=<%= @keyword %>">部落格</a></div>
        <div class="disnavbottom <%= menu_on('beautynews')%>"><a href="/cse/beautynews/?q=<%= @keyword %>">美研情報站</a></div>  
        <div class="disnavbottom <%= menu_on('video')%>"><a href="/cse/video/?q=<%= @keyword %>">影音</a></div>
      </div>
